<!-- Binding -->

<!-- one way binding  -->

 <!-- 1- dtat interpolation -->
<!-- <h1>Hello ya {{userName}}</h1> -->
<!-- 2- property Binding -->
<!-- <img [src]="imgPath" alt="" class="w-100 d-block"> -->
<!-- 3- evet binding -->
<!-- <button (click)="test()" class="bg-info text-white p-3"> Hi </button>  -->
<!-- 4- class binding -->
<!-- <p [class.bg-primary-subtle]="isAdmin">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quidem neque a est quibusdam at consectetur vero, corrupti vitae cum vel ipsum totam ex recusandae aliquid iusto tempora eligendi iste!</p> -->
<!-- 5- style Binding -->
<!-- <h3 [style.background-color]="'red'">data</h3> -->




<!-- 2nd way binding  -->
<!-- <input [(ngModel)]="userword">

<h1>hello , {{userword}}</h1> -->